/* Color scheme:
 *  white for text
 *  cleaner white for default background
 *  black for text
 *  orange for backgrounds
 *  dark orange for accents
 */
:root {
    --mwhite: #ddd;
    --mbackground: #f8f9fa;
    --mblack: #181818;
    --mdarkorange: #DA512B;
    --morange: #E87631;
    --bs-font-sans-serif: system-ui, -apple-system, "Spartan", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--bs-font-sans-serif);
    scroll-behavior: smooth;

}

a {
    text-decoration: none;
    color: black;
}

html, body {
    overflow-x: hidden;
    background-color: #2D2E2E;
    width: 100vw;
}


.flex-container-news {
    display: flex;
    background-color: #DAA520;
    flex-wrap: wrap;
}

.flex-container-news > div {
    align-items: center;
    margin: 10px;
    padding: 60px;
    font-size: 3;
}

::selection {
    background: #DAA520;
    text-shadow: none;
  }

/* Navigation bar with logo and menu items*/
nav {
    display: flex;
    /*justify-content: space-around;*/
    /* test */
    justify-content: space-between;
    margin-left: 8%;
    margin-right: 6%;
    /* end test */
    align-items: center;
    min-height: 15vh;
    z-index: 99;
}

#logo {
    max-width: 7vw;
    height: auto;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 55%;
    z-index: 99;
    background-color: #2D2E2E;
}

.nav-links li {
    list-style: none;
}
.nav-links li:hover {
    text-decoration: underline 3px var(--mdarkorange);
}
 
.nav-links a {
    color: #F2F3F4;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1em;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #DAA520;
    margin: 5px;
    transition: all 0.3s ease;
}

nav h4 {
    color: #F2F3F4;
    font-size: 1.6em;
}
.dot_index{
    font-size: 35px;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 85vh;
        top: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

/* End Navigation Bar*/
/* Footer with newsletter form and social media links */

footer {
    background-color: #DAA520;
    padding: 90px 0;
}




.footer-container {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.footer-logo {
    width: 180px;
    margin-bottom: 5vh;
}

.social-media {
    margin: 20px 0;
}

.social-media a {
    color: #001e21;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: 0.3s linear;
}

.social-media a:hover {
    color: var(--mwhite);
}

.right-col h1 {
    font-size: 26px;
}

.right-col p {
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.border {
    width: 100px;
    height: 4px;
    background: var(--mwhite);
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.txtb {
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: #293043;
    background: var(--mwhite);
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
    height: 50px;
}

.footer-btn {
    padding: 0px 40px;
    font-size: 16px;
    color: #F2F2F2;
    background: var(--mdarkorange);
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity 0.3s linear;
    height: 50px;
}

.footer-btn:hover {
    opacity: 0.7;
}

@media screen and (max-width:960px) {
    .footer-container {
        max-width: 600px;
    }

    .right-col {
        width: 100%;
    }

    .footer-container .right-col {
        margin-bottom: 60px;
    }

    .left-col {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:700px) {
    .footer-btn {
        margin: 0;
        width: 100%;
        margin-top: 20px;
    }
}

/* Collapside buy  */

.collapsible-container {
    width: 70%;
    margin-bottom: 3rem;
}
.collapsible {
  background-color: var(--morange);
  color: var(--mwhite);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  
}

.active, .collapsible:hover {
  background-color: var(--mdarkorange);
}

.content-buy {
    margin-top: 2rem;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: left;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 18px;
  color: red;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
/* end of Collapside buy  */

.container-about {
  position: relative;
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

#title-about{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: #E87631;
}

#title-about2{
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
    color: #005255;
}

#p-about{
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2%;
    text-align: center;
    
}

#img-index{
    width: 70%;
    margin-left: 15%;
}






*, *:before, *:after {
  box-sizing: inherit;
}


#gold{
    font-color: #DAA520;
}

.columnabout {
  float: left;
  width: 18%;
  margin-bottom: 16px;
  padding: 0 8px;

}

.cardabout {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.container-chico {
  padding: 0 16px;
}

.container-chico::after, .rowabout::after {
  content: "";
  clear: both;
  display: table;

}

.title {
  color: grey;
}

.buttonabout {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#about-page .button:hover {
  background-color: #555;
}

@media screen and (min-width: 650px) {
  .rowabout {
    margin-left: 10%;
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .columnabout {
    width: 70%;
    margin-left: 15%;
    display: block;
  }
}
 
 .about-section {
    margin-top: 5rem;
    width: 70%;
    padding: 100px;
    text-align: center;
    color: var(--mblack);
    border: 6px solid #005255;
}

.about-section h2 {
    font-size: 2.5rem;
    padding-bottom: 50px;
}

.about-section p {
    font-size: 1.4rem;
    font-weight: 350;
}

#home h5 {
    font-size: 1.5em;
}

#buy-index {
    margin-right: 3%;
    color: #fff;
    background-color: #DA512B;
    border-radius: 30px;
    padding: 15px 20px;
}

#buy-index:hover {
    margin-right: 3%;
    color: #fff;
    background-color: #E87631;
    border-radius: 30px;
    padding: 15px 20px;
}

@media screen and (max-width:700px) {
    .about-section {
      border: none;
      width: 80vw;
      margin: 0;
      padding-left: 0px;
      padding-right: 0px;
    }

    .about-section p {
        font-weight: 350;
        font-size: 1.1em;
    }
}

.text-center {
    text-align: center;
}

.text-italics {
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}

.doc-text {
    margin-right: 5vw;
    margin-left: 5vw;
    line-height: 2.5em;
}

.doc-text ul {
    margin-left: 3vw;
}

#circuit-img {
    width: 80vw;
}

.under-development {
    width: 80vw;
}


  
.contact-form-container {
    border-radius: 5px;
    padding: 20px;
    width: 70vw;
    margin: 0 auto;
} 

.logo h4 {
    font-weight: 600;
}